
<div class="page-header" id="banner">
    <div class="row">
        <div class="col-lg-6">
            <h1>@ViewBag.Header</h1>
            <p class="lead">Order History - COMING SOON</p>
        </div>
        <div class="col-lg-6">
        </div>
    </div>
</div>



