@{
    ViewBag.Title = "Thank you!";
}

<div class="page-header" id="banner">
    <div class="row">
        <div class="col-lg-6">
            <h1>You have successfully signed out.</h1>
            @*<p class="lead">You have successfully signed in.</p>*@
        </div>
        <div class="col-lg-6">
        </div>
    </div>
</div>
