div.navbar-header a.navbar-brand.logo {
  background: url(Images/logo.jpg) no-repeat;
  width: 178px;
  height: 40px;
  margin-top: -2px;
}
.navbar-default .navbar-nav > li > a {
  font-size: 16px;
}
.dropdown-menu > li > a {
  font-size: 14px;
}
span.shopping-cart-icon {
  float: right;
  margin-left: 20px;
}
span.shopping-cart-icon a {
  margin-top: -2px;
}
span.badge {
  background-color: #2b3e50;
  padding-top: 1px;
  position: relative;
  left: -17px;
  top: -3px;
}
span.badge span.badge-number {
  position: relative;
  top: -1px;
}
div.footer-details {
  width: 100%;
  margin: 0 auto;
  position: relative;
  bottom: 0px;
}
span.field-validation-error {
  color: #f0ad4e;
  font-size: 12px;
  padding: 5px 0px;
}
div.validation-summary-errors {
  color: #f0ad4e;
  font-size: 12px;
  padding-bottom: 10px;
  margin-left: 17px;
}
div.validation-summary-errors ul li {
  list-style: none;
}
input.text-box {
  display: block;
  width: 100%;
  height: 39px;
  padding: 8px 16px;
  font-size: 15px;
  line-height: 1.42857143;
  color: #2b3e50;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
input.text-box:disabled {
  cursor: not-allowed;
  background-color: #ebebeb;
  opacity: 1;
}
div.form-group.multi-line label {
  padding-top: 2px;
}
ul.category-list {
  list-style-type: none;
  padding-left: 0px;
}
ul.category-list li {
  display: inline-block;
  margin-left: 20px;
}
ul.category-list li:first-child {
  margin-left: 0px;
}
ul.category-list-vertical {
  list-style-type: none;
  padding-left: 0px;
  width: 289px;
  margin-left: auto;
  margin-right: auto;
}
.align-left {
  text-align: left;
}
